<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	
	<div th:if="${#lists.isEmpty(jugadores)}">
		<h2>Lista Vacia</h2>
	</div>
	
	<div th:unless="${#lists.isEmpty(jugadores)}">
		<p th:each="jugador : ${jugadores}">
			<span th:text="'Nombre: ' + ${jugador.name} +'  ganadas: ' +${jugador.getGanadas()} + '  empatadas: ' +${jugador.getEmpatadas()} + ' perdidas: '+${jugador.getPerdidas()}" /> <br />
		</p>
	</div>

	<a href="/">Volver</a>
</body>
</html>

